apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: devops-challenge
data:
  
  # Configuración NO sensible de la aplicación
  # FIX BUG 8:
  # Antes, contraseñas y credenciales estaban dentro del ConfigMap, lo cual es inseguro porque los ConfigMaps no están diseñados para almacenar información sensible.
  # Las credenciales fueron movidas a un Secret (secrets.yaml).
  
  PORT_GATEWAY: "3000"
  PORT_USER_SERVICE: "3001"

  # URL interna de descubrimiento de servicios (seguro mantener aquí)
  
  USER_SERVICE_URL: "http://user-service:3001"

  # Redis: host y puerto NO son datos sensibles

  REDIS_HOST: "redis"
  REDIS_PORT: "6379"

  # Configuración general de la aplicación

  LOG_LEVEL: "info"
  NODE_ENV: "production"
